h2[data-v-808b6b5c]{background:#f5c700}#vuevueNativeShare[data-v-1413545a]{font-size:13px}.label[data-v-1413545a]{font-size:18px}.list-item[data-v-1413545a]{width:30%;display:inline-block;text-align:center;margin:10px 0}.i[data-v-1413545a]{width:40px;height:40px;display:block;margin:0 auto 5px;background-size:cover}
/*# sourceMappingURL=app.649825c34b980dc63f953d3fb3214cc4.css.map */